// Variables
$grey:      #484A47;
$green:     #C1CE96;
$offwhite:  #ECEBF0;
$turq:      #687D77;
$brown:     #353129;





html {
  height:     100%;
}

body {
  height:     100%;
  background: $grey;
  color:      $offwhite;
}

.main {
  position:   relative;
  width:      100%;
  max-width:  800px;
  margin:     0 auto;
  padding:    2rem;
}

.chevs {
  position: absolute;
  top: 3rem;
  right: -3.5rem;
  i {
    font-size: 3.5rem;
    display: block;
    margin-bottom: -1.2rem;
    color: $green;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-fill-mode:both;
    -webkit-animation-iteration-count: infinite;

    animation-duration: 1.5s;
    animation-name: fadeInDown;
    animation-fill-mode:both;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;

    }
    &:nth-child(2) {
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;

    }
    &:nth-child(3) {
      animation-delay: 0.8s;
      -webkit-animation-delay: 0.8s;

    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}